body{
    margin: 0;
    background-color: lightgrey;
}

.container{
    background-color: #333;
    padding: 1rem;
    width: 80%;
    margin-left: 10%;
    margin-top: 1rem;
}

.draggable {
    padding: .7rem;
    background-color: white;
    width: 80%;
    margin-left: 9%;
    text-align: center;
    border: 1px solid black;
    cursor: move;
}

.draggable.dragging{
    background-color: lightgrey;
}